@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* font-family: 'Bebas Neue', cursiva;
font-family: 'Passion One', cursiva;
font-family: 'Sriracha', cursiva;
*/

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;

}

header {
    color: white;
    background-color: black;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: 'Passion One', cursiva;
    font-size: 8vw;
 
}

header p {
    padding-bottom: 50px;
    
}

header p a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header p a:hover {
    text-decoration: underline;
}

main p {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 24px;
    font-family: 'Sriracha', cursiva;
    

}

main > .container {
    margin-top: 200px;
    background-size: cover;
    background-attachment: fixed;
    background-position:  center;
    background-image: url(background001.jpg);
    padding: 30px;
    height: 590px;
}

main > .container .joaninha {
    text-shadow: 1px 1px 0px black;
    padding: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
}

main > .containerlivro {
    margin-top: 200px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-image: url(background002.jpg);
    position: relative;
    padding: 30px;
    height: 590px;

}

main > .containerlivro .livro {

    text-shadow: 1px 1px 0px black;
    padding: 5px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
}

footer {
    margin-top: 200px;
    background-color: black;
    padding: 20px;

}

footer p {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    
}

footer > p > a {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

footer > p > a:hover {
    text-decoration: underline;
    font-weight: bold;
}